<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="post">
        <input type="text" name="Username" placeholder="Enter Username">
        <input type="password" name="Password" placeholder="Enter Password">
        
        <button type="submit">Sign Up</button>
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
</body>
</html>